<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>goit-markup-hw-01</title>
  </head>

  <body>
    <header>
      <div data-hx-trigger="load" data-hx-swap="outerHTML" data-hx-get="index.header-main.partial.html"></div>
    </header>

    <main>
      <div data-hx-trigger="load" data-hx-swap="outerHTML" data-hx-get="index.business-solutions.partial.html"></div>
      <div data-hx-trigger="load" data-hx-swap="outerHTML" data-hx-get="index.core-values.partial.html"></div>
      <div data-hx-trigger="load" data-hx-swap="outerHTML" data-hx-get="index.our-team.partial.html"></div>
    </main>
    <footer>
      <div data-hx-trigger="load" data-hx-swap="outerHTML" data-hx-get="index.footer.partial.html"></div>
    </footer>
  </body>
</html>
