<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>goit-markup-hw-01</title>
    <script src="https://unpkg.com/htmx.org@1.9.12"></script>
  </head>
  <body>
    <header>
      <section data-hx-trigger="load" data-hx-swap="outerHTML" data-hx-get="index.header-main.partial.html"></section>
    </header>
    <main>
      <section data-hx-trigger="load" data-hx-swap="outerHTML" data-hx-get="index.business-solutions.partial.html"></section>
      <section data-hx-trigger="load" data-hx-swap="outerHTML" data-hx-get="index.core-values.partial.html"></section>
      <section data-hx-trigger="load" data-hx-swap="outerHTML" data-hx-get="index.our-team.partial.html"></section>
    </main>
    <footer>
      <section data-hx-trigger="load" data-hx-swap="outerHTML" data-hx-get="index.footer.partial.html"></section>
    </footer>
  </body>
</html>
